* {
  box-sizing: border-box;
}

body {
  font-family: "karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #C33764 1.18%, #1d2671 100%);
  color: white;
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  padding: 30px;
  max-width: fit-content;
  margin: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px/ 1fr 1fr;
  gap: 17px;
}

.form-input {
  border-radius: 5px;
  font-family: "karla", sans-serif;
  text-indent: 8px;
  border: 1px solid #D5D4D8;

}

.form-button {
  grid-column: 1/-1;
  font-family: "karla", sans-serif;
  color: white;
  background: linear-gradient(90.41deg, #C33764 1.14%, #1d2671 100%);
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  padding-top: 4px;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}